body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}


main {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container::before {
    content: "";
    /* obrigatório */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    /* altura do efeito */
    pointer-events: none;
    z-index: 5;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.9),
            rgb(255, 255, 255),
            rgb(255, 255, 255));
}

.container1::before {
    content: "";
    /* obrigatório */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8vh;
    /* altura do efeito */
    pointer-events: none;
    z-index: 5;

    background: linear-gradient(to top,


            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4),
            rgb(255, 255, 255, 0.8),
            rgb(255, 255, 255, 0.8),
            rgb(255, 255, 255, 0.9),
            rgb(255, 255, 255),
            rgb(255, 255, 255));
}


main .banner {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    opacity: 0;
    animation: aparecer 4s forwards;

}

main .fundo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
}

main .month {
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5vh;
    transform: translateY(30px);
    opacity: 0;
    animation: aparecer 2s forwards;

}

/* cards */

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 22vh;
    opacity: 0;
    transform: translateY(30px);
    animation: aparecer 2s forwards;
}

.icons .card,
.icons .card1 {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    gap: 0;

}

.icons .card .imgcard,
.icons .card1 .imgcard {
    width: 90%;
    height: 90%;
}

.icons .card p,
.icons .card1 p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.icons .card1 {
    width: 94px;

}

.container a {
    text-decoration: none;
    color: #000b31;
}



.container1,
.container2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 img {
    width: 100%;
}

.container2 img {
    width: 100%;
}

.chave {
    background-color: #b41c1c;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;

}

.chave:hover {
    background-color: #8a1414;
}
button{
    font-weight: bold;
}

/* animação */



@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popupoverley {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 2s;
}

body.sem-scroll {
    overflow: hidden;
}

.popupoverley .popup {
    width: 70%;
    height: auto;
    background-color: #001d85;
    z-index: 200;
    padding: 20px;
    color: white;
    border-radius: 10px;
    opacity: 0;
    transform: rotateY(90deg);
    animation: aparecer 1s forwards;


}

.popupoverley .popup span {
    position: relative;
    right: -90%;
    font-size: 1rem;
    cursor: pointer;
    background-color: #b41c1c;
    border-radius: 50%;
    padding: 5px 10px;

}

.pix button {
    cursor: pointer;
    position: relative;
    z-index: 300;
}


@media (min-width: 602px) {
    body {
        display: none;
        ;
    }
}

@media (max-width: 601px) {
    main .banner {
        height: 100%;
    }

}

@media (max-width: 480px) {
    main .banner {
        height: 75%;
    }

}